# SSH Config
# Managed by chezmoi

# GitHub
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519
    AddKeysToAgent yes

# GitLab
Host gitlab.com
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/id_ed25519
    AddKeysToAgent yes

# Default settings
Host *
    AddKeysToAgent yes
    IdentitiesOnly yes
    # macOS Keychain integration
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
{{- end }}
