# SSH Config
# Managed by chezmoi

# Use 1Password SSH agent if available (macOS)
{{- if eq .chezmoi.os "darwin" }}
Host *
    # 1Password SSH agent socket
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

# GitHub
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519
    AddKeysToAgent yes

# GitLab
Host gitlab.com
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/id_ed25519
    AddKeysToAgent yes

# Default settings
Host *
    AddKeysToAgent yes
    IdentitiesOnly yes
    # macOS Keychain integration
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
{{- end }}
